doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title No Grey - Reset Password
    style.
      u + .body table.container { background:#000; mix-blend-mode:screen; }
      u + .body td.content { background:#000; mix-blend-mode:difference; }
      table.container {
        width: 45rem;
        border: 22px solid;
      }
      td.content {
        padding: 3rem;
        padding-bottom: 0px !important;
      }
      .header {
        text-align: center;
        margin-bottom: 20px;
        padding-top: 2rem;
      }
      .header img {
        max-width: 100%;
        height: auto;
      }
      .container {
        border: 22px solid;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #4045D5;
      }
      .image {
        text-align: center;
        margin-top: 20px;
      }
      .divide {
        background-color: #ffa4b6;
        width: 71px;
        height: 3px;
        border-radius: 3px;
        border-top: none;
      }
      .light_txt {
        font-size: 11px;
        line-height: 13px;
        color: #8D91FF;
        padding-bottom: 10px;
      }
      .paddings {
        padding-top: 2rem;
        color: #4045D5;
      }
      .head_size {
        width: 30%;
      }
      .bottom_size {
        width: 100%;
        text-align: center;
        margin-top: -229px;
      }
      .overlap {
        overflow-wrap: anywhere;
        color: #4045D5;
      }
      .email_size {
        width: 556px;
      }
  body
    table.container
      tr
        td.content.email_size
          div
            .header
              img.head_size(src="cid:headerImageName", alt='Header Image')
              hr.divide
            .paddings
              h1 Hello #{name},
              p
                | Follow the link below to reset your No Grey account password. If you did not mean to reset your password, please ignore this email and your password will email the same. The password reset link expires in 7 days.
              p.overlap 
                | !{dynamicHtml}
              p
                | For any issues, please contact us at 
                a(href='mailto:admin@nogrey.legal')  admin@nogrey.legal.
                |  Our executives will be glad to assist you.
              p
                | Kind Regards,
                br
                | No Grey Team
              p.light_txt
                | The information transmitted by this email is intended only for the person to which it is addressed. If you have received this email in error, please notify us immediately by sending us an e-mail. In case you are not the intended recipient of this email, you will immediately delete this email (including any attachments) from all computers. This email contains the confidential information and intellectual property of No Grey Pvt. Ltd. intended for the sole use of the designated recipient and you are not permitted to use the confidential information and/or the intellectual property for personal gain, retransmission, distribution or reproduction. By accessing the information/content of this email you agree to be bound by the terms contained herein.
      tr
        td
          .bottom-img
            img.bottom_size(src='cid:uniqueBottomImageName', alt='Bottom Image')