doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title No Grey - Already Registered Account
    style.
      table.container {
        width: 45rem;
        border: 22px solid;
      }
      td.content {
        padding: 3rem;
        padding-bottom: 0px !important;
      }
      .header {
        text-align: center;
        margin-bottom: 20px;
        padding-top: 2rem;
      }
      .header img {
        max-width: 100%;
        height: auto;
      }
      .container {
        border: 22px solid;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #4045D5;
      }
      .image {
        text-align: center;
        margin-top: 20px;
      }
      .divide {
        background-color: #ffa4b6;
        width: 71px;
        height: 3px;
        border-radius: 3px;
        border-top: none;
      }
      .light_txt {
        font-size: 11px;
        line-height: 13px;
        color: #8D91FF;
        padding-bottom: 10px;
      }
      .paddings {
        padding-top: 2rem;
        color: #4045D5;
      }
      .head_size {
        width: 30%;
      }
      .bottom_size {
        width: 100%;
        text-align: center;
        margin-top: -229px;
      }
      .overlap {
        overflow-wrap: anywhere;
        color: #4045D5;
      }
      .email_size {
        width: 556px;
      }
  body
    table.container
      tr
        td.content.email_size
          div
            .header
              img.head_size(src="cid:headerImageName", alt='Header Image')
              hr.divide
            .paddings
              h1 Hello #{name},
              p.overlap 
                | A call has been scheduled for will consultation. You would have received the meeting details on a separate email Instructions for the Meeting:
              p.overlap 
                ol 
                  li 
                    | Before signing the will the you are required to read out the following message:
                    | ‘I have written my will on the No Grey Platform and
                    | will be executing it in the presence of a certified No Grey consultant. The copy of the will
                    | executed by me, and this recording will be emailed to me. I declare I have made the will
                    | voluntarily and in sound state of mind and memory. I fully understand the implications
                    | of creating this last will. I hereby revoke all previous wills, or any other testamentary
                    | documents made by me and declare this to be my last will and testament.
                  li 
                    | After you make the declaration given above, the will shall first be signed by you and
                    | then followed by your witnesses. 
              p
                | For any issues, please contact us at 
                a(href='mailto:admin@nogrey.legal')  admin@nogrey.legal.
                |  Our executives will be glad to assist you.
              p
                | Kind Regards,
                br
                | No Grey Team
              p.light_txt
                | The information transmitted by this email is intended only for the person to which it is addressed. If you have received this email in error, please notify us immediately by sending us an e-mail. In case you are not the intended recipient of this email, you will immediately delete this email (including any attachments) from all computers. This email contains the confidential information and intellectual property of No Grey Pvt. Ltd. intended for the sole use of the designated recipient and you are not permitted to use the confidential information and/or the intellectual property for personal gain, retransmission, distribution or reproduction. By accessing the information/content of this email you agree to be bound by the terms contained herein.
      tr
          td
            .bottom-img
              img.bottom_size(src='cid:uniqueBottomImageName', alt='Bottom Image')